/* WatchlistScreen.css */
.list {
  height: 131vh;
  /* flex-direction: column; */
  /* background-color: #f5f5f5; */
  background: linear-gradient(#000000,#36013b );
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  align-items: center;
  width: 100%;

}
.list .div {
  /* width:30vw; */
  height: 97%;
 /* background-color: #F5F6FF; */
 /* background-color: #F5F6FF; */
 margin-top: 1px;
 position: relative;
 display: flex;
 top: 1px;
 left: 1px;
 justify-content: center;
 align-items: center;
 background: rgba( 255, 255, 255, 0.25 );
 box-shadow: 0 8px 32px 0 rgba(127, 11, 125, 0.37);
 backdrop-filter: blur( 4px );
 background-color: #000000;
 -webkit-backdrop-filter: blur( 4px );
 border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
 display: flex;
 flex-direction: column;
 width: 400px;
 overflow: hidden;
}
  .watchlist-screen {
    position: relative;
    bottom: 170px;
    font-family: "Inter", Helvetica;
        color: white;
    width: 100%;
    /* max-width: 600px;
    margin: 0 auto;
    padding: 20px; */
  }

  .watchlist-screen h2{
    position: relative;
    left: 10px;
    margin-bottom:85px;
    font-size: larger;
  }
  
  .watchlist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }
  
  .card {
    position: relative;
    width: 75px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-content {
    display: flex;
    position: relative;
    left: 110px;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .watchlist-item {
    left: 12px;
    position: relative;
    flex: 0 0 50px;
  }


  .remove{
    position: fixed;
    left: 368px;
  }
  .top-left {
    position: absolute;
    top: 25px; 
    left: 23px; 
  }
  
  .back-arrow {
    width: 20px;
    height: 20px; 
  }