.main-type {
  
    height: 100vh;
    /* flex-direction: column; */
    /* background-color: #f5f5f5; */
    background: linear-gradient(#000000,#36013b );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.main-type .type-div {
    /* width:30vw; */
    height: 97%;
   /* background-color: #F5F6FF; */
   /* background-color: #F5F6FF; */
   margin-top: 1px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba(127, 11, 125, 0.37);
   backdrop-filter: blur( 4px );
   background-color: #000000;
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   flex-direction: column;
   width: 400px;
   overflow: hidden;

  
}
.type-div .vector_t {
    height: 24px;
    left: 24px;
    position: absolute;
    top: 40px;
    width: 24px;
    cursor: pointer;
    color: #fff;
 

}
.type-div .logo_t {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_t img {
     width: 50px;
     height: 50px;
     position: absolute;
     top:10px;
     right:45px;
}

.logo_t h4 {
    font-size: 50px;
    position: absolute;
    top:40px;
    right:44px;
    font-size: 14px;
    font-weight: bold;
    color: #B71DDE; 
    text-align: center;
    background: linear-gradient(to left, #B71DDE, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
    animation: pulse 2s ease-in-out infinite;
    letter-spacing: 3px;
}

.type-div .choose_type {
    display: grid;
    column-gap: 8px;
    row-gap: 9px;
    grid-template-columns: auto auto ;
    /* background-color: #2196F3; */
    padding: 10px;
    /* border:1px solid white; */
    color: white;
    margin-top: 80px;
}
.type-div .descriptions {
    color: #fff;
    position: absolute;
    top:110px;
    font-size: 20px;
}
.type-div .type-btn  {
    width: 315px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #B71DDE;
    top:570px; 
    cursor: pointer;
    color: white;
    font-family: "Inter", Helvetica;
        font-size:20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 1px;
    border: none;


}
.choose_type .grid-type {
   
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 20px;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 44px;
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.grid-type h6{
    font-size: 18px;
    color: black;
    

}

.choose_type .grid-type:hover {
    background-color: #B71DDE;
    
   
}
.grid-type h6:hover {
    font-size: 22px;
    cursor: pointer;
}