.background-icon {
    position: absolute;
    height: 100.57%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: -0.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .popularplus-icon {
    position: absolute;
    top: 8.14px;
    left: 144px;
    width: 28px;
    height: 28px;
    overflow: hidden;
  }
  .label {
    position: absolute;
    top: calc(50% - 9.57px);
    right: 16px;
    line-height: 20px;
    display: none;
  }
  .bars-navigation-r-glyp {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 188px;
    height: 44px;
    display: none;
    text-align: right;
    color: purple;
    font-family: "Inter", Helvetica;
    }
  .title {
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
    line-height: 22px;
    font-size: larger;
  }
  .bars-navigation-l-glyp,
  .center {
    position: absolute;
    bottom: 0;
    width: 188px;
    height: 44px;
  }
  .center {
    left: calc(50% - 93.5px);
    font-size: 16px;
  }
  .bars-navigation-l-glyp {
    left: 0;
  }
  .action,
  .time {
    position: absolute;
    width: 54px;
  }
  .time {
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
  }
  .action {
    top: calc(50% - 8px);
    left: 19.89px;
    height: 20px;
  }
  .container-icon {
    position: absolute;
    top: calc(50% - 5.84px);
    right: 14.5px;
    width: 67px;
    height: 11.5px;
  }
  .status-default-white {
    position: absolute;
    top: -0.29px;
    left: 0;
    width: 375px;
    height: 44px;
    display: none;
    font-family: "Inter", Helvetica;
    }
  .time1 {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    display: inline-block;
    width: 54px;
  }
  .container-icon1 {
    position: absolute;
    top: calc(50% - 4.84px);
    right: 14.5px;
    width: 67px;
    height: 11.5px;
  }
  .navigation-default-icons,
  .status-default-black {
    position: absolute;
    top: 0.14px;
    left: 0;
    width: 375px;
    height: 44px;
  }
  .navigation-default-icons {
    top: 0;
    height: 88px;
  }
  .or-4-digits {
    position: absolute;
    width: 46.15%;
    top: 56.87%;
    left: 53.85%;
    font-size: 10px;
    line-height: 13px;
    color: #888888;
    display: inline-block;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .rect {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 4px; 
    color: white;
    background-color: rgb(63, 63, 63);
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    height: 50px;
  }

  .rect option{
    color: white;
  }
  .name-on-card {
    position: absolute;
    top: 16px;
    left: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    width: 285px;
  }
  .text-inputs-placeholder {
    position: absolute;
    height: 13.74%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 86.26%;
    left: 0;
    overflow: hidden;
  }
  .chevronschevron-down-icon {
    position: absolute;
    top: calc(50% - 14.11px);
    right: 9.69px;
    width: 28px;
    height: 28px;
    overflow: hidden;
  }
  .selects-placeholder,
  .selects-placeholder1,
  .text-inputs-placeholder1,
  .text-inputs-placeholder2 {
    position: absolute;
    height: 13.74%;
    width: 47.69%;
    top: 35.71%;
    right: 52.31%;
    bottom: 50.55%;
    left: 0;
    overflow: hidden;
  }
  .selects-placeholder1,
  .text-inputs-placeholder1,
  .text-inputs-placeholder2 {
    right: 0;
    left: 52.31%;
  }
  .text-inputs-placeholder1,
  .text-inputs-placeholder2 {
    width: 100%;
    top: 17.86%;
    bottom: 68.41%;
    left: 0;
  }
  .text-inputs-placeholder2 {
    width: 47.69%;
    top: 53.57%;
    right: 52.31%;
    bottom: 32.69%;
  }
  .add-now,
  .rectangle-icon {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .rectangle-icon {
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .add-now {
    top: 28%;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 315px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background:  #B71DDE;
    /* position: absolute;
    left:25px;
    top:310px;  */
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-family: "Inter", Helvetica;
        font-size:20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 1px;
  }
  .normal-primary,
  .set-as-default {
    position: absolute;
    color:white;
  }
  .normal-primary {
    height: 13.74%;
    width: 100%;
    top: 86.13%;
    right: 0;
    bottom: 0.14%;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); 
  text-align: center;
  font-size: 16px;
  }
  .set-as-default {
    top: 75.14%;
    left: 19.38%;
    font-size: 12px; 
    line-height: 13px;
  }
  
  .shadow-2 {
    border-radius: 4px; 
    background-color: #6b6b6b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); 
  }
  
  .dropshadow-2,
  .oval-icon,
  .shadow-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .oval-icon {
    height: 85.71%;
    width: 50%;
    top: 7.14%;
    right: 45.65%;
    bottom: 7.14%;
    left: 4.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .switchoff {
    position: absolute;
    height: 7.69%;
    width: 14.77%;
    top: 72.87%;
    right: 85.23%;
    bottom: 19.44%;
    left: 0;
  }
  .add-a-new-credit-card {
    position: absolute;
    top: 130px;
    left: 25px;
    width: 325px;
    height: 364px;
    text-align: left;
    font-size: 14px;
    color: #777777;
    font-family: "Inter", Helvetica;
    }
  .payment-screen {
    position: relative;
    background-color:black;
    width: 97%;
    height: 812px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: "Inter", Helvetica;
    }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-payment3 {
  
  height: 131vh;
  /* flex-direction: column; */
  /* background-color: #f5f5f5; */
  background: linear-gradient(#000000,#36013b );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.main-payment3 .payment3-div {
  /* width:30vw; */
  height: 97%;
 /* background-color: #F5F6FF; */
 /* background-color: #F5F6FF; */
 margin-top: 1px;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 background: rgba( 255, 255, 255, 0.25 );
 box-shadow: 0 8px 32px 0 rgba(127, 11, 125, 0.37);
 backdrop-filter: blur( 4px );
 background-color: #000000;
 -webkit-backdrop-filter: blur( 4px );
 border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
 display: flex;
 flex-direction: column;
 width: 390px;
 overflow: hidden;
}