.background-icon {
    position: absolute;
    height: 100.57%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: -0.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
  }
  .popularplus-icon {
    position: absolute;
    top: 8.14px;
    left: 144px;
    width: 28px;
    height: 28px;
    overflow: hidden;
  }
  .label {
    position: absolute;
    top: calc(50% - 9.57px);
    right: 16px;
    line-height: 20px;
    display: none;
  }
  .bars-navigation-r-glyp {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 188px;
    height: 44px;
    text-align: right;
    color:purple;
    font-family: "Inter", Helvetica;
    }
      .title {
    position: absolute;
    top: calc(50% - 10px);
    left: 36px;
    line-height: 22px;
    font-size:larger
  }
  .bars-navigation-l-glyp,
  .center {
    position: absolute;
    bottom: 0;
    width: 188px;
    height: 44px;
  }
  .center {
    left: calc(50% - 93.5px);
    font-size: 16px;
  }
  .bars-navigation-l-glyp {
    left: 0;
  }
  .action,
  .time {
    position: absolute;
    width: 54px;
  }
  .time {
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
  }
  .action {
    top: calc(50% - 8px);
    left: 19.89px;
    height: 20px;
  }
  .container-icon {
    position: absolute;
    top: calc(50% - 5.84px);
    right: 14.5px;
    width: 67px;
    height: 11.5px;
  }
  .status-default-white {
    position: absolute;
    top: -0.29px;
    left: 0;
    width: 375px;
    height: 44px;
    display: none;
    font-family: "Inter", Helvetica;
    }
  .time1 {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    display: inline-block;
    width: 54px;
  }
  .container-icon1 {
    position: absolute;
    top: calc(50% - 4.84px);
    right: 14.5px;
    width: 67px;
    height: 11.5px;
  }
  .navigation-default-icons,
  .status-default-black {
    position: absolute;
    top: 0.14px;
    left: 0;
    width: 375px;
    height: 44px;
  }
  .navigation-default-icons {
    top: 0;
    height: 88px;
    text-align: center;
    font-size: 12px; 
    font-family: "Inter", Helvetica;    
  }
  .rectangle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:black;
  }
  .line {
    position: absolute;
    height: 0.57%;
    width: 100.13%;
    top: 99.72%;
    right: -0.07%;
    bottom: -0.28%;
    left: -0.07%;
border-top: 0.5px solid #CCCCCC;
    box-sizing: border-box;
  }
  .chevronschevron-right-icon,
  .money-visa {
    position: absolute;
    height: 31.82%;
    width: 7.47%;
    top: 34.09%;
    right: 3.57%;
    bottom: 34.09%;
    left: 88.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .money-visa {
    height: 54.55%;
    width: 12.8%;
    top: 22.73%;
    right: 81.87%;
    bottom: 22.73%;
    left: 5.33%;
  }
  .ecommerce-card {
    position: absolute;
    top: 130px;
    left: 0;
    width: 375px;
    height: 88px;
  }
  .mastercard {
    position: absolute;
    width: 33.78%;
    top: 35.8%;
    left: 22.13%;
    line-height: 25px;
    display: flex;
    align-items: center;
  }
  .post-32 {
    position: absolute;
    top: 233px;
    left: 0;
    width: 375px;
    height: 88px;
  }
  .american-express {
    position: absolute;
    top: 35.8%;
    left: 22.13%;
    line-height: 25px;
  }
  .post-33,
  .post-34,
  .post-35 {
    position: absolute;
    top: 336px;
    left: 0;
    width: 375px;
    height: 88px;
  }
  .post-34,
  .post-35 {
    top: 439px;
  }
  .post-35 {
    top: 542px;
  }
  .payment-screen1{
    position: relative;
    background-color:black;
    width: 100%;
    height: 812px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: white;
    font-family: "Inter", Helvetica;
            /* left: 500px; */
  }
  .main-payment2 {
  
    height: 131vh;
    /* flex-direction: column; */
    /* background-color: #f5f5f5; */
    background: linear-gradient(#000000,#36013b );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.main-payment2 .payment2-div {
    /* width:30vw; */
    height: 97%;
   /* background-color: #F5F6FF; */
   /* background-color: #F5F6FF; */
   margin-top: 1px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba(127, 11, 125, 0.37);
   backdrop-filter: blur( 4px );
   background-color: #000000;
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   display: flex;
   flex-direction: column;
   width: 400px;
   overflow: hidden;
}